:root {
  --sk-size: 150px;
}

.alert-area {
  width: 50%;
  margin: auto;
  position: relative;
}

#t-area {
  position: absolute;
  top: 350px;
  left: 50%;
}
.loading-text-area {
  position: relative;
  left: -50%;
}
.loading-text {
  font-size: 1.7rem;
  font-weight: 600;
  color: #dfdfdf;
}
.loading-subtext {
  font-size: 1.2rem;
  color: #cecece;
}
.spinner-area {
  position: absolute;
  top: 20px;
  left: 50%;
}

.form-card {
  width: min(600px, 100%);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  font-size: 1.1rem;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.settings {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  gap: 1rem;
}

.butt {
  border-radius: var(--border-radius);
  margin: auto;
  padding: 1rem 1.5rem;
  width: 10rem;
  background-color: #039be7;
  border: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 200ms ease-in;
}
.butt:hover {
  color: #039be7;
  background-color: #c6ecff;
  outline: 3px solid #039be7;
}

.body {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #373f51,
    #008dd5,
    #dfbbb1,
    #f56476,
    #e43f6f
  );
  background-size: 150% 150%;
  position: relative;
  animation: bganimate 10s ease-in-out infinite;
}

@keyframes bganimate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.lazy-loading {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #303a52,
    #364f6b,
    #574b90,
    #9e579d,
    #fc85ae
  );
  position: absolute;
  z-index: 900;
  background-size: 120% 120%;
  animation: loading 2s ease-in-out infinite;

  visibility: hidden;
}
@keyframes loading {
  0% {
    background-position: 0 50%;
  }
  10% {
    background-position: 20% 50%;
  }
  20% {
    background-position: 40% 50%;
  }
  30% {
    background-position: 60% 50%;
  }
  40% {
    background-position: 80% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  60% {
    background-position: 80% 50%;
  }
  70% {
    background-position: 60% 50%;
  }
  80% {
    background-position: 40% 50%;
  }
  90% {
    background-position: 20% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.spinner {
  width: var(--sk-size);
  height: var(--sk-size);
  left: -50%;
  position: relative;
  margin: 100px auto;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fc5185;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #574b90;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
