/* Config */

:root {
  --sk-size: 150px;
}
.spinner {
  width: var(--sk-size);
  height: var(--sk-size);
  left: -50%;
  position: relative;
  margin: 100px auto;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fc5185;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #574b90;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#t-area {
  position: absolute;
  top: 350px;
  left: 50%;
}
.loading-text-area {
  position: relative;
  /* top: 300px; */
  left: -50%;
}
.loading-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #cccccc;
}
.loading-subtext {
  font-size: 1rem;
  color: #d1d1d1;
}
.spinner-area {
  position: absolute;
  top: 20px;
  left: 50%;
}
.content {
  position: relative;
  top: 50px;
  padding: 50px 60px 10px;
  width: 600px;
  height: 460px;
  border-radius: 8px;
  background-color: white;
}
.intro {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  font-size: 32px;
}
label {
  font-weight: 500;
}

.butt {
  margin: auto;
  width: 150px;
  height: 60px;
  border-radius: 2px;
  background-color: #039be7;
  border: 0;
  font-size: 22px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
}
.butt:hover {
  color: #039be7;
  background-color: #c6ecff;
  border: 3px solid #039be7;
}
.form-control:focus,
.custom-select:focus {
  border-color: #24292e;
  box-shadow: 0 0 0 0.2rem#b8b8b8;
}
.invalid-label {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 80%;
}

.body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #373f51,
    #008dd5,
    #dfbbb1,
    #f56476,
    #e43f6f
  );
  background-size: 150% 150%;
  position: relative;
  animation: bganimate 10s ease-in-out infinite;
}

@keyframes bganimate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.lazy-loading {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #303a52,
    #364f6b,
    #574b90,
    #9e579d,
    #fc85ae
  );
  position: absolute;
  z-index: 900;
  background-size: 120% 120%;
  animation: loading 2s ease-in-out infinite;

  visibility: hidden;
}
@keyframes loading {
  0% {
    background-position: 0 50%;
  }
  10% {
    background-position: 20% 50%;
  }
  20% {
    background-position: 40% 50%;
  }
  30% {
    background-position: 60% 50%;
  }
  40% {
    background-position: 80% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  60% {
    background-position: 80% 50%;
  }
  70% {
    background-position: 60% 50%;
  }
  80% {
    background-position: 40% 50%;
  }
  90% {
    background-position: 20% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
