{%extends "base.html"%} {% block head %}
<title>Price Scraper - Find the best product</title>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/index.css')}}" />

{% endblock %} {% block body %}
<!-- LOADING SCREEN hidden -->
<div class="lazy-loading" id="lazy-loading">
  <div class="spinner-area">
    <div class="spinner" id="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <div id="t-area">
    <div class="loading-text-area text-center">
      <p class="loading-text">Scraping for Prices...</p>
      <p class="loading-subtext">
        Might take a while depending on number of pages and internet connection
        speed
      </p>
    </div>
  </div>
</div>
<!-- END LOADING SCREEN -->
<div class="container-fluid body">
  <div class="card form-card">
    <div class=" card-body">
      <h1 class="header mb-5">Scrape for Prices</h1>
      <form action="#" method="POST">
        {{ form.csrf_token }}
        <div class="form-floating mb-5">
          <input name="item" type="text" class="form-control {{'is-invalid' if form.item.errors else ''}}" id="item"
            placeholder="eg.Hello Kitty keyring" required>
          <span class="invalid-feedback">{{form.item.errors[0]}}</span>
          <label for="item">Product</label>
        </div>
        <div class="settings mb-5">
          <div class="form-floating">
            <select name="site" class="form-select {{'is-invalid' if form.site.errors else ''}}" id="site"
              aria-label="Floating label select site" required>
              {% for site in sites%}
              <option style="text-transform: capitalize;" value="{{site}}">{{site}}</option>
              {% endfor %}
            </select>
            <span class="invalid-feedback">{{form.site.errors[0]}}</span>
            <label for="site">Select Shop</label>
          </div>
          <div class="form-floating">
            <input name="page" type="number" class="form-control {{'is-invalid' if form.page.errors else ''}}" id="page"
              value="1" min="1" placeholder="1" required>
            <span class="invalid-feedback">{{form.page.errors[0]}}</span>
            <label for="page">Pages</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="butt" onclick="showLoadingSceen()">GO</button>
        </div>
      </form>
    </div>
  </div>


</div>


<script>
  function showLoadingSceen() {
    var spinner = document.getElementById("lazy-loading");
    spinner.style.visibility = "visible";
  }
</script>
{% endblock %}